* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --header-font: "Playfair Display", "serif";
    --paragraph-font: "Roboto", "Arial", "sans-serif";
    --header-font-color: #fff;
    --paragraph-font-color: #333;
    --section-padding-left-right: 15px;
    --section-margin: 70px;
    --theme-color: #D94B2B;
}

main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: clamp(600px, 40vh, 900px);
    background: var(--theme-color);
    clip-path: polygon(0 0, 100% 0, 100% 25%, 0 50%);
    z-index: -1;
}

main .about {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: var(--section-margin);
}

main {
    padding-left: var(--section-padding-left-right);
    padding-right: var(--section-padding-left-right);
    position: relative;
}


main .about .photo {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

main .about .photo img {
    width: 100%;
    height: 100%;
}

main .about .text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: var(--header-font);
}

main .about .text h1 {
    font-size: 40px;
    font-weight: bold;
    color: var(--theme-color);
}

main .about .text h2 {
    font-size: 30px;
}

main .about .text p {
    font-family: var(--paragraph-font);
}

main .about .text .icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

main .about .text a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

main .work .project .screenshot {
    height: 200px;
}

main .work .project .screenshot img {
    width: 100%;
    height: 100%;
}

main .work .project {
  display: flex;
  flex-direction: column;
}

main .work .projects {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: var(--section-margin);
}

main .work .project .description {
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    height: 200px;
}

main .work > h2 {
    font-size: 30px;
    font-size: bold;
    font-family: var(--header-font);
    text-align: center;
    margin-bottom: 20px;
}

main .work .project .description .frame-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

main .work .project .description .frame-1 .actions {
    display: flex;
    gap: 10px;
}

main .work .project .description .frame-1 .actions a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

main .work .project .description .frame-1 h2 {
    font-size: 20px;
    font-weight: 600;
    font-family: var(--header-font);
}

main .work .project .description .frame-2 .about {
    font-family: var(--paragraph-font);
    color: var(--paragraph-font-color);
}

footer {
    background-color: var(--theme-color);
    color: white;
    font-family: var(--paragraph-font);
}

footer .contact-me {
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

footer .contact-me h2 {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    font-family: var(--header-font);
    margin-bottom: 10px;
}

footer .contact-me p:nth-of-type(2) {
    margin-bottom: 30px;
    margin-top: 30px;
}

footer .contact-me .tel {
    margin-bottom: 10px;
}

footer .contact-me .icons {
    display: flex;
    gap: 10px;
}

footer .contact-me .icons a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

footer .photo img {
    display: block;
    width: 100%;
}
